<div id="dcc-settings">
    <div id="dcc-s-body">
        <div id="dcc-s-content">
            <span id="dcc-s-close"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                    <path d="M315.3 411.3c-6.253 6.253-16.37 6.253-22.63 0L160 278.6l-132.7 132.7c-6.253 6.253-16.37 6.253-22.63 0c-6.253-6.253-6.253-16.37 0-22.63L137.4 256L4.69 123.3c-6.253-6.253-6.253-16.37 0-22.63c6.253-6.253 16.37-6.253 22.63 0L160 233.4l132.7-132.7c6.253-6.253 16.37-6.253 22.63 0c6.253 6.253 6.253 16.37 0 22.63L182.6 256l132.7 132.7C321.6 394.9 321.6 405.1 315.3 411.3z" />
                </svg></span>
            <h2>Impostazioni dei cookies</h2>

            <h3>Cookie Usage</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident consequatur odio id dolorum sint distinctio ducimus quis reprehenderit doloremque eius enim quae porro perspiciatis, ratione quisquam officia dolorem deleniti obcaecati!</p>

            <div class="setting-box">
                <div class="s-box-header open">
                    <span class="handle">
                        <input type="checkbox" id="s" /><label for="s"> </label>
                    </span>
                    <span>Cookies necessari / tecnici </span>
                    <div class="grow"></div>
                    <span class="toggle">
                        <input type="checkbox" id="switch" /><label for="switch">Toggle</label>
                    </span>
                </div>
                <div class="s-box-content open">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum unde eos culpa soluta, in laboriosam veniam minus illum officia commodi alias, placeat illo ipsum vero asperiores hic similique quis beatae.
                </div>
            </div>

            <div class="setting-box">
                <div class="s-box-header open">
                    <span class="handle">
                        <input type="checkbox" id="s" /><label for="s"> </label>
                    </span>
                    <span>Cookies necessari / tecnici </span>
                    <div class="grow"></div>
                    <span class="toggle">
                        <input type="checkbox" id="switch" /><label for="switch">Toggle</label>
                    </span>
                </div>
                <div class="s-box-content open">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum unde eos culpa soluta, in laboriosam veniam minus illum officia commodi alias, placeat illo ipsum vero asperiores hic similique quis beatae.
                </div>
            </div>

            <div class="setting-box">
                <div class="s-box-header open">
                    <span class="handle">
                        <input type="checkbox" id="s" /><label for="s"> </label>
                    </span>
                    <span>Cookies necessari / tecnici </span>
                    <div class="grow"></div>
                    <span class="toggle">
                        <input type="checkbox" id="switch" /><label for="switch">Toggle</label>
                    </span>
                </div>
                <div class="s-box-content open">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum unde eos culpa soluta, in laboriosam veniam minus illum officia commodi alias, placeat illo ipsum vero asperiores hic similique quis beatae.
                </div>
            </div>

            <div class="setting-box">
                <div class="s-box-header open">
                    <span class="handle">
                        <input type="checkbox" id="s" /><label for="s"> </label>
                    </span>
                    <span>Cookies necessari / tecnici </span>
                    <div class="grow"></div>
                    <span class="toggle">
                        <input type="checkbox" id="switch" /><label for="switch">Toggle</label>
                    </span>
                </div>
                <div class="s-box-content open">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum unde eos culpa soluta, in laboriosam veniam minus illum officia commodi alias, placeat illo ipsum vero asperiores hic similique quis beatae.
                </div>
            </div>




            <div class="box">
                <h4>More Information</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis est amet eligendi fugit laboriosam animi, deserunt, accusantium mollitia assumenda facilis in rem aspernatur sit delectus doloribus quod tenetur aut? Omnis?</p>
            </div>
        </div>
        <div id="dcc-s-actions">
            <a href="" class="dcc-btn btn-primary">Accetta Tutto</a>
            <a href="" class="dcc-btn btn-secondary">Rifiuta Tutto</a>
            <span class="grow"></span>
            <a href="" class="dcc-btn btn-secondary">salva preferenze</a>
        </div>

    </div>
</div>